<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="categorylist.html">Category List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="addcategory.html">Add Category</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card p-4 m-5">
                <h1>Add Category</h1>
                <form action="" method="" enctype="multipart/form-data">
                    <div>
                        <label >Name</label>
                        <input type="text" class="form-control" id="name" name="name" />
                    </div><br>
                    <div>
                        <label >alias</label>
                        <input type="text" class="form-control" id="alias" name="alias" />
                    </div><br>
                    <button type="button" class="btn btn-primary" onclick="saveCategory()">Save</button>

                </form>
            </div>
        </div>
    </div>

    <footer>
      <div class="d-flex justify-content-center pt-3 bg-info">
        <p>@copyright by darr!</p>
      </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>

        function saveCategory(){
            var name = document.getElementById('name').value;
            var alias = document.getElementById('alias').value;

            var data = {
                name:name,
                alias:alias
            }
            console.log(data)

            fetch('http://localhost:7070/category/add-category', {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            })
            .then((response)=>response.json())
            .then((data)=>{
                window.location.href = "categorylist.html"
            })
            .catch(err=>console.log(err))

        }

    </script>
</body>
</html>